// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

/ {
  behaviors {
    u_mt: u_mt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <U_TAPPING_TERM>;
      flavor = "balanced";              // Good compromise between tap and hold
      tapping-term-ms = <200>;          // Standard typing timeout
      quick-tap-ms = <200>;             // Enable tap-tap-hold to repeat
      require-prior-idle-ms = <150>;    // Helps when typing quickly
      bindings = <&kp>, <&kp>;
    };
    u_lt: u_lt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <U_TAPPING_TERM>;
      quick-tap-ms = <175>;             // Enable tap-tap-hold to repeat
      flavor = "tap-preferred";
      bindings = <&mo>, <&kp>;
      retro-tap;                        // Output tap on release if no other key pressed
    };
  };
};
