// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

/ {
  behaviors {
    u_mt: u_mt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <U_TAPPING_TERM>;
      quick-tap-ms = <200>;             // Time window for double-tap
      flavor = "hold-preferred";         // Changed to hold-preferred
      bindings = <&kp>, <&kp>;
      hold-trigger-key-positions = <0>;  
      hold-trigger-on-release;          
      global-quick-tap;                 // Enable double-tap detection
    };
    u_lt: u_lt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <U_TAPPING_TERM>;
      quick-tap-ms = <175>;             // Enable tap-tap-hold to repeat
      flavor = "tap-preferred";
      bindings = <&mo>, <&kp>;
      retro-tap;                        // Output tap on release if no other key pressed
    };
  };
};
